<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Recipes</title>
</head>
<body>
    <h1>Odin Recipes <img src="../assets/4441966.png" alt="odin_project_logo" height="50px" width="50px"></h1>
    <p>Here are some delicious recipes from Myanmar.</p>
    <ol>
        <li>Mohinga</li>
        <li>Laphet Thoke</li>
        <li>Nangyi Thoke</li>
    </ol>
    <h2>Recipe 1: Mohinga <a href="./mohinga.html"><i>Mohinga</i></a> </h2>
    <h2>Recipe 2: Laphet Thoke- Tea Leaf Salad <a href="./la_phet.html"><i>Laphet Thoke - Tea Leaf Salad</i></a> </h2>
    <h2>Recipe 3: Nangyi Thoke <a href="./nangyi_thoke.html"><i>Nangyi Thoke</i></a> </h2>
</body>
</html>