<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laphet Thoke</title>
</head>
<body>
    <h1>Laphet Thoke- Tea Leaf Salad</h1>
    <p>Lahpet, also spelled laphet, laphat, lephet, leppet, or letpet in English (Burmese: လက်ဖက်; MLCTS: lak hpak, pronounced [ləpʰɛʔ]), is Burmese for fermented or pickled tea. Myanmar is one of the few countries where tea is consumed both as a drink and as an eaten delicacy, in the form of pickled tea, which is unique to this region. Laphet is regarded as a national delicacy that plays a significant role in Burmese society, and remains a traditional Burmese gesture of hospitality and is served to guests visiting a home.[1][2] <a href="https://en.wikipedia.org/wiki/Lahpet">wikipedia</a></p>
    <p>If you want to learn how to make this recipe, you can visit to <a href="https://www.theburmalicious.com/blog/laphet">Burmalicious by SUU </a></p>
    <img src="https://images.squarespace-cdn.com/content/v1/604fca2357feb3489dacff9b/1622120602039-4HZ086SK3U7N473IHCZ9/Laphet-Burmalicious?format=2500w" alt="Laphet Thoke or Tea leave salad" height="400" width="300"> <br>
    <a href="./index.html">Back to homepage</a>
</body>
</html>