<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohinga</title>
</head>
<body>
    <h1>Mohinga</h1>
    <p>Mohinga is the national dish of Burma, a traditional Burmese fish soup with such exquisite flavors, that it's as if all the quintessential flavors of Southeast Asia come together in perfect balance and harmony.</p>
    <p>If you want to learn more about <i>Mohinga</i>, you can check out the <a href="https://www.theburmalicious.com/blog/mohinga">Burmalicious by SUU </p>
    <img src="https://images.squarespace-cdn.com/content/v1/604fca2357feb3489dacff9b/1622485125719-N0BNQ0UYQ6ZCIJ46U509/Mohinga-Burmalicious?format=2500w" alt="Mohinga" height="500px" width="500"> <br>
    <a href="./index.html">Back to homepage</a>
</body>
</html>