<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nangyi Thoke</title>
</head>
<body>
    <h1>Nangyi Thoke</h1>
    <p>Nan Gyi Thoke is a famous Burmese breakfast item where thick and round rice noodles are tossed in a rich, nutty dressing. Every slurp is smooth and flavorful as they are slathered in both dry and wet components of the dressing including very fine powder of toasted chickpeas, fragrant red oil filtered from a curry chicken, fish sauce and lime juice. They together balance the viscosity of the salad while lending a wide range of flavors. Yes, there is a curry chicken but the meat part plays a less significant role. It is this deeply flavored oil that is built throughout the curry-making process, adding the depth and complexity to the dish.</p>
    <p>If you want to know about the ingredients, you can check out the <a href="https://www.theburmalicious.com/blog/burmese-thick-rice-noodle-salad"></a>Burmalicious by SUU</p>
    <img src="https://images.squarespace-cdn.com/content/v1/604fca2357feb3489dacff9b/1615924788667-6AOD4HF3780P26L3TY7B/NanGyiThokeBurmalicious1?format=2500w" alt="Nangyi Thoke" height="400px" width="320px"> <br>
    <a href="./index.html">Back to homepage</a>
</body>
</html>